@media screen and (max-width: 576px) {
    .headerContainer .headerMenu{
        display: none;
    }
    .artchitacTitle{
        display: none;
    }
}
@media screen and (min-width: 577px) {
    .headerContainer{
        display: flex;
        justify-content: space-between;
     }
     .headerMenu ul{
        display: flex;
     }
     .prjectProfileContainer{
        display: flex;
        flex-wrap: wrap;
     }
     .prjectProfileContainer .project{
        flex: 48%;
        column-gap: 10px;
        margin-left: 1%;
        margin-right: 1%;
     }
     .project img{
        max-width: 100%;
        height: auto;
     }
     .temMembersContainer{  
       display: flex;
       flex-wrap: wrap;
     }
     .temMembersContainer .member{
        flex: 50%;
     }
}
@media screen and (min-width: 786px) {
     .headerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .prjectProfileContainer{
        display: flex;
        flex-wrap: wrap;
     }
     .prjectProfileContainer .project{
        flex: 48%;
        margin-left: 1%;
        margin-right: 1%;   
      }
     .project img{
        max-width: 100%;
        height: auto;
     }
}
@media screen and (min-width: 992px) {
    .prjectProfileContainer{
        display: flex;
        flex-wrap: wrap;
         
     }
     .prjectProfileContainer .project{
        flex: 23%;
        margin-left: 1%;
        margin-right: 1%;
     }
     .project img{
        max-width: 100%;
        height: auto;
     }
     .temMembersContainer{  
        display: flex;
        flex-wrap: wrap;
      }
      .temMembersContainer .member{
         flex: 25%;
      }
      .memberImg img{
        max-width: 100%;
        height: auto;
      }
}